<div class="main users-new post-background">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <%= form_tag("/users/create") do %>
          <p>ユーザー名<span class="require">*</span></p>
          <input name="user_name" value="<%= @user.user_name %>">

          <p>メールアドレス<span class="require">*</span></p>
          <input name="email" value="<%= @user.email %>">

          <p>パスワード<span class="require">*</span></p>
          <input type="password" name="password" value="<%= @user.password %>">
          
          <span class="require">*は必須項目です。</span>
          <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>